/* zIndex of important system app parts
 * is gathered here to clearly specify all system-app hierarchy */

/* Reset zIndex */
#screen > *:not([data-z-index-level]) {
  z-index: 0;
}

/* Level 1 */
/**
 * Top layer, covers all of the screen no matter what's the height
 * of the status bar.
 * System overlay > Sleep menu > Card view
 */

/* Find the same code in system/index.html
#screen > [data-z-index-level="initlogo"] {
  z-index: 65536;
}
*/

/* Home gesture panel should not be covered by any element of system */
#screen > #bottom-panel.visible {
  z-index: 2147483647;
}

#screen > *[data-z-index-level="poweroff-splash"] {
  z-index: 65536;
}

#screen > [data-z-index-level="debug-grid"],
#screen > [data-z-index-level="debug-ttl"] {
  z-index: 65536;
}

#screen > [data-z-index-level="system-notification-banner"] {
  z-index: 65536;
}

#screen > [data-z-index-level="system-overlay"] {
  z-index: 65536;
}

#screen > [data-z-index-level="hardware-buttons"] {
  z-index: 65536;
}

#screen > [data-z-index-level="sleep-menu"] {
  z-index: 65536;
}

/* Promote the transitioning appWindow to this level as the entry and exiting
 * transition of the cards view. */
#screen.cards-view > [data-z-index-level="app"] > .appWindow.active:not(.homescreen),
#screen.cards-view > [data-z-index-level="app"] > .appWindow.transition-opening:not(.homescreen),
#screen.cards-view > [data-z-index-level="app"] > .appWindow.transition-closing.to-cardview:not(.homescreen),
#screen.cards-view > [data-z-index-level="app"] > .appWindow.transition-opening.fullscreen-app:not(.homescreen),
#screen.cards-view > [data-z-index-level="app"] > .appWindow.transition-closing.fullscreen-app.to-cardview:not(.homescreen) {
  z-index: 65537;
}
#screen.cards-view > [data-z-index-level="cards-view"] {
  z-index: 65535;
}

#screen > [data-z-index-level="keyboards"] {

  /* It should lower than UtilityTray's, to let the tray overlay it
     in some situation like selecting a new keyboard. */
  z-index: 4094;
}

#screen > [data-z-index-level="gesture-panel"] {
  z-index: 4093;
}

/*
 * Promote keyboards to attention screen level when
 * there is an active attention screen not minimized in
 * the status bar */
#screen.attention:not(.active-statusbar) > [data-z-index-level="keyboards"] {
  z-index: 16384;
}

/* Level 2: Notification toaster */
#screen > [data-z-index-level="notification-toaster"] {
  z-index: 32768;
}

/* Level 3: Attention screen */
#screen > [data-z-index-level="attention-screen"] {
  z-index: 16384;
}

/* Level 4: Activity menu, context menu and value selector */
#screen > [data-z-index-level="action-menu"] {
  z-index: 8192;
}

/* Level 5: Statusbar, Utility-Tray */
#screen > [data-z-index-level="app"] > .appWindow.transition-opening.fullscreen-app:not(.homescreen),
#screen > [data-z-index-level="app"] > .appWindow.transition-closing.fullscreen-app:not(.homescreen) {
  z-index: 4097;
}

#screen > [data-z-index-level="statusbar"] {
  z-index: 4096;
}

#screen > [data-z-index-level="utility-tray"] {
  z-index: 4095;
}

/* Demote level 5 elements to homescreen level if there is an active
 * full screen app frame */
#screen.fullscreen-app:not(.locked):not(.attention) > [data-z-index-level="statusbar"],
#screen.fullscreen-app:not(.locked):not(.attention) > [data-z-index-level="utility-tray"] {
  z-index: 1;
}

/* Promote level 5 elements to attention screen level when
 * there is an active attention screen not minimized in
 * the status bar */
#screen.attention:not(.active-statusbar) > [data-z-index-level="statusbar"] {
  z-index: 16386;
}
#screen.attention:not(.active-statusbar) > [data-z-index-level="utility-tray"] {
  z-index: 16385;
}

/* Level 6: Lock Screen */
#screen > [data-z-index-level="lockscreen"] {
  z-index: 2048;
}

/* Permission screen is here because of the lockscreen camera. */
#screen > [data-z-index-level="permission-screen"] {
  z-index: 2047;
}

#screen > [data-z-index-level="lockscreen-camera"] {
  z-index: 2046;
}

#screen > [data-z-index-level="simpin-dialog"] {
  z-index: 2045;
}

/* Keep keyboard and edges zones under lockscreen when locked */
#screen.locked > [data-z-index-level="keyboards"] {
  z-index: 2044;
}

#screen > [data-z-index-level="search-bar"] {
  z-index: 2043;
}

#screen.locked.attention > [data-z-index-level="keyboards"] {
  z-index: 65536;
}

#screen.locked > [data-z-index-level="gesture-panel"] {
  z-index: 2043;
}


/* Level 7: Dialog Module */
#screen > [data-z-index-level="dialog-overlay"],
#screen > [data-z-index-level="value-selector"],
#screen > [data-z-index-level="ime-layout-dialog"],
#screen > [data-z-index-level="app-install-dialog"],
#screen > [data-z-index-level="updates-download-dialog"],
#screen > [data-z-index-level="updates-viaDataConnection-dialog"],
#screen > [data-z-index-level="emergency-callback-dialog"] {
  z-index: 1024;
}

/* Level 8 */
#screen > [data-z-index-level="app"] {
  /**
   * Should not specify z-index here
   * Keyboard should be kept upon #windows
   * and beneath #windows > .appWindow
   */
}

/* The below z-index numbers are used to meet the following conditions:
 * - active ones must be on top of inactive ones
 * - keyboard frame must be below active ones
 * - keyboard frame must be above inactive ones
 * - during an edge gesture a new app coming from the right needs to be on top
 * - app frame must be on top of homescreen frame, inactive or active.
 * - finally, everything else needs to be on top of them (hence the lowest nums)
 */
#screen > [data-z-index-level="app"] > .appWindow[data-z-index-level="top-app"] {
  z-index: 8;
}

#screen > [data-z-index-level="app"] > .appWindow.transition-opening:not(.homescreen) {
  z-index: 7;
}

#screen > [data-z-index-level="app"] > .appWindow.transition-closing:not(.homescreen) {
  z-index: 6;
}

#screen > [data-z-index-level="app"] > .appWindow.active:not(.homescreen) {
  z-index: 6;
}

#screen > [data-z-index-level="app"] > .appWindow[data-z-index-level="bottom-app"] {
  z-index: 5;
}

#screen > [data-z-index-level="app"] > .appWindow.homescreen.active {
  z-index: 4;
}

#screen > [data-z-index-level="app"] > .appWindow {
  z-index: 3;
}

#screen > [data-z-index-level="app"] > .appWindow.homescreen {
  z-index: 2;
}

#screen > [data-z-index-level="app"] > .appWindow.homescreen.transition-opening,
#screen > [data-z-index-level="app"] > .appWindow.homescreen.transition-closing {
  z-index: 0;
}

/* We promote the following overlays on top of the fullscreen web content. */
#screen:-moz-full-screen-ancestor > [data-z-index-level="sleep-menu"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="action-menu"],
#screen.locked:-moz-full-screen-ancestor > [data-z-index-level="statusbar"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="lockscreen"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="lockscreen-camera"],

#screen:-moz-full-screen-ancestor > [data-z-index-level="value-selector"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="system-overlay"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="dialog-overlay"],

#screen:-moz-full-screen-ancestor > [data-z-index-level="keyboards"],

#screen:-moz-full-screen-ancestor > [data-z-index-level="notification-toaster"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="cards-view"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="attention-screen"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="permission-screen"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="app-install-dialog"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="ime-layout-dialog"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="fullscreen-software-home-button"],
#screen:-moz-full-screen-ancestor > [data-z-index-level="gesture-panel"] {
  z-index: 2147483647;
}
