.hide {
  display:none !important;
}

.disabled {
  pointer-events: none;
  opacity: .3;
}

.disabled * {
  pointer-events: none;
}

#download-list-empty {
  height: calc(100% - 5rem);
  text-align: center;
}

#dle-vertical {
  height: 100%;
  display: inline-block;
  width: 0;
  vertical-align: middle;
}

#dle-text {
  font-size: 1.8rem;
  color: #1CABCB;
}

#downloadList {
  font-weight: 400;
  padding: 0;
  overflow: none;
  height: calc(100% - 5rem);
}


/*
 * Edit mode styles
 */

#downloads .pack-checkbox {
  position: absolute;
  width: 2.8rem;
  display: none;
}

#downloads.edit #downloads-edit-menu {
  display: block;
}

#downloads #downloads-edit-menu {
  display: none;
  height: 5rem;
  background: #ccc;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: .5rem 1rem;
  -moz-box-sizing: border-box;
}

.downloads-edit-menu-item {
  width: calc(50% - .2rem);
}

#downloads #edit-mode-header {
  display: none;
}

#downloads.edit #downloads-header {
  display: none;
}

#downloads.edit #edit-mode-header {
  display: block;
}

#downloads.edit aside {
  display: none;
}

#downloads.edit #downloads-edit-button {
  pointer-events: none;
  opacity: .3;
}

#downloads.edit ul {
  height: calc(100% - 5rem);
}

#downloads.edit .pack-checkbox span {
  pointer-events: all;
  z-index: 100;
}

#downloads.edit .pack-checkbox:active span {
  background: none;
}

#downloads.edit .pack-checkbox {
  display: block;
}

#downloads.edit #downloadList li {
  pointer-events: none;
}

/* End of the styles while editing*/

#downloadList ul{
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

#downloadList strong {
  font-weight: 500;
}

/* Text */
.fileName {
  padding: 1rem 6rem 1rem 3.5rem;
  -moz-boz-sizing: border-box;
}

.info {
  font-size: 1.2rem;
  padding: 0 6rem 0 3.5rem;
  -moz-boz-sizing: border-box;
}

/* Informative icons */
.actionCancel {
  width: 3rem;
  height: 3rem;
  background: url('images/download_close.png');
  background-repeat: no-repeat;
}

.actionRetry {
  width: 3rem;
  height: 3rem;
  background: url('images/download_refresh.png');
  background-repeat: no-repeat;
}

.statusError {
  width: 3rem;
  height: 3rem;
  background: url('images/download_exclamation.png'); 
  background-repeat: no-repeat;
  left: 0.2rem;
}

/* List items */
#downloadList li {
  margin: 0;
  position: relative;
  pointer-events: none;
}

#downloadList li * {
  pointer-events: none;
}

#downloadList ul li progress {
  width: 100%;
}

/* Graphic content */
#downloadList aside {
  margin: 1.75rem 0.5rem 0 0;
  background-position: center;
  position: absolute;
}

#downloadList .edit-check {
  margin: 0;
  position: absolute;
  width: 3rem;
  height: 100%;
  text-align: center;
  -moz-box-sizing: border-box;
  padding-top: 1rem;
}

#downloadList aside.pack-end {
  padding: 1.4rem;
  margin: 0;
  pointer-events: all;
  right: 0;
}

/* Progress */

#downloadList ul > li progress[value] {
  width: calc(100% - 0.2rem);
  height: 0.5rem;
  margin: 0;
  background: #e7e7e7;
  border: 0.1rem solid #b6b6b6;
}

#downloadList ul > li progress[value]::-moz-progress-bar {
  margin: .1rem;
  height: calc(100% - 0.2rem);
  border-radius: 0.2rem;
  background-color: #01c5ed;
}

#downloadList progress[value].pack-activity {
  background-image: url(images/activity.png);
  background-repeat: repeat;
  background-size: auto 100%;
  animation: 0.5s move infinite steps(15);
}

#downloadList ul > li[data-state="stopped"] progress,
#downloadList ul > li[data-state="succeeded"] progress {
  display: none;
}

#downloadList li[data-state="succeeded"] {
  pointer-events: all;
}
